<h1>写真一覧</h1>
<table>
  <tbody>
  <% if @images.present? %>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.title %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= link_to "写真アップロード画面へ", images_index_path %><br>
<%= link_to "ログアウト", logout_path, method: :delete %>
